/Project1_NameOffset/nbproject/private/
/Proj1_EricWinsor/nbproject/private/
/Proj1_EricWinsor/build/
/Proj1_Winsor/nbproject/private/
/Proj1_Winsor/build/
/PictureThing/nbproject/private/
/PictureThing/build/
/inputexample/nbproject/private/
/inputexample/build/
/SimplePigLatin/nbproject/private/
/SimplePigLatin/build/