/Project1_NameOffset/nbproject/private/
/Proj1_EricWinsor/nbproject/private/
/Proj1_EricWinsor/build/
/Proj1_Winsor/nbproject/private/
/Proj1_Winsor/build/
/PictureThing/nbproject/private/
/PictureThing/build/
/inputexample/nbproject/private/
/inputexample/build/
/SimplePigLatin/nbproject/private/
/SimplePigLatin/build/
/Pythagorean Theorem/build/
/Pythagorean Theorem/nbproject/private/
/Proj2_Winsor/nbproject/private/
/Grading/nbproject/private/
/Grading/build/
/Proj2_Winsor/build/
/BranchingGetInLine/nbproject/private/
/BranchingGetInLine/build/
/ProjectEuler/ProjectEuler1/nbproject/private/
/ProjectEuler/ProjectEuler1/build/
/BranchingTestTime/nbproject/private/
/BranchingTestTime/build/
/BranchingSkateTime/nbproject/private/
/BranchingSkateTime/build/
/BluePelicanJava/Lesson1/nbproject/private/
/BluePelicanJava/Lesson1/build/
/BluePelicanJava/FromMeToYou/nbproject/private/
/BluePelicanJava/FromMeToYou/build/
/BluePelicanJava/Lesson1/FromMeToYou/build/
/BluePelicanJava/Lesson1/FromMeToYou/nbproject/private/
/BluePelicanJava/Lesson1/Lesson1/build/
/BluePelicanJava/Lesson1/Lesson1/nbproject/private/
/BluePelicanJava/NameThatCelebrity/nbproject/private/
/BluePelicanJava/Lesson3/NameThatCelebrity/build/
/BluePelicanJava/Lesson4/ArithmeticAssignment/nbproject/private/
/BluePelicanJava/ArithmeticAssignment/nbproject/private/
/BluePelicanJava/Lesson4/ArithmeticAssignment/build/
/NameReversal/nbproject/private/